{% extends 'lms/base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    <h3>Восстановление пароля</h3>
    <div class="row">
        {% csrf_token %}
        <div class="col-6">
            <label class="form-label">Введите ваш email</label>
            <input class="form-control mb-3" type="email" name="email" required="required" />
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Восстановить</button>
        </div>
    </div>
</form>
{% endblock %}